* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #edf0f7;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 420px;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgb(0, 0, 0, .15);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.inputBox {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

#addBtn {
    background: #3b82f6;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}

.filters {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.filter {
    padding: 8px 15px;
    border: none;
    background: #eee;
    border-radius: 6px;
    cursor: pointer;
}

.filter.active {
    background: #3b82f6;
    color: white;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: #ffffff;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #e5e7eb;
}

.left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.completed {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 15px;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#clearBtn {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
}

/* 
body {
    background: #f5f5f5;
    font-family: Arial;
}

.container {
    width: 420px;
    background: white;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

h1 {
    text-align: center;
}

.input-section {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
}

.filters {
    margin-top: 20px;
}

.filters button {
    margin-right: 5px;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.bottom {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
} */